.footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background: #002374;
  color: aliceblue;
}

.footer-wrap {
  padding-bottom: 2.5rem;
}

.textbox {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

