.header {
  background: #002374;
  /* background-image: url('../components/pages/images/legos.jpg'); */
  /* background-size:cover ; */
  /* background-position: center; */
  /* height: 25vh; */
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.textbox {
  display: flex;
  flex-direction: column;
  justify-items: center;
}