* {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color:silver;
  position: absolute;
  width: 100%;
  margin:0;
  padding:0;
}

h1 {
  font-size: 200%;
  line-height: 1.5;
}

h2 {
  font-size: 160%;
  line-height: 1.5;
}

h3 {
  font-size: 120%;
  line-height: 1.5;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  background-color:#ff9c9c;
  color:rgb(37, 33, 33);
  border-bottom: 8px rgb(37, 33, 33) solid;
  padding: 8px;
}

header img:hover {
  animation: bounce 1s;
}

p {
  margin-bottom: 8px;
}

p.indent {
  text-indent: 30px;
}

#logo-and-menu {
  display: flex;
  flex-direction:row;
  width: 40%;
  align-content: center;
  padding-left: 30px;
  align-self: center;
  align-content: center;
}
